:root {
  --brand: #C4F120;
  --error: #E61E32;
  --blur-md: 12px;
  --background-secondary: #1b1b1b;
  --border-primary: #303030;
  --placeholder-color: #777777;
}

.background-guest {
  background-image: url('images/background.svg');
  background-size: cover;
  background-position: center;
}

html {
  background-color: #000000;
}

.login-background-blur {
  backdrop-filter: blur(var(--blur-md));
}

.btn-login {
  background-color: var(--brand);
  color: #000000;
}

.background-guest-action {
  background-color: var(--background-secondary);
}

a.brand {
  color: var(--brand);
}

input.guard {
  border: 1px solid var(--border-primary);
  background-color: var(--background-secondary);
  color: #ffffff;
}

input.guard::placeholder {
  color: var(--placeholder-color);
}
